
@model IEnumerable<TDA.Models.Beers>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team-Care Deprescring Application</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />
    <table class="table">
        <tdead>
            <tr>
                <th>ID</th>
                <th>Drug</th>
                <th>Class</th>
                <th>Crcl</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (Beers item in Model)
            {
                <tr>
                    <td>@item.DrugID</td>
                    <td>@item.Drug</td>
                    <td>@item.DrugClass</td>
                    <td>@item.Crcl</td>
                </tr>
            }
        </tbody>
    </table>
</div>
