@model List<Beers>
@{
    ViewData["Title"] = "View Beers";
}
<div>
    <br />
    <br />
    <table class="table">
        <tdead>
            <tr>
                <th>ID</th>
                <th>Drug</th>
                <th>Class</th>
                <th>Crcl</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (Beers item in Model)
            {
                <tr>
                    <td>@item.DrugID</td>
                    <td>@item.Drug</td>
                    <td>@item.DrugClass</td>
                    <td>@item.Crcl</td>
                </tr>
            }
        </tbody>
    </table>
</div>
