
@{
    ViewData["Title"] = "UploadJSON";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Upload JSON - Only files in .json format are accepted.</h2>

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="file">Choose JSON File</label>
        <input type="file" name="file" id="file" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

@if (ViewBag.Message != null)
{
    <div class="alert alert-info mt-3">@ViewBag.Message</div>
}

<a asp-action="Index" class="btn btn-secondary mt-3">Back to View all Beers/Combination</a>
