@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Team-Care Deprebscribing Application (TDA)</h1>
    <p>
        <a asp-controller="Beers" asp-action="Index">View all Beers</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a asp-controller="Beers" asp-action="Create">Create New Combination</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a asp-controller="Beers" asp-action="UploadJSON">Upload JSON</a>
    </p>
</div>
