@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Change Password</h1>

@if (!string.IsNullOrEmpty(ViewBag.SuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.SuccessMessage
    </div>
}

<div class="text-danger" asp-validation-summary="All"></div>

<form method="post">
    <div class="form-group">
        <label>Current Password</label>
        <input name="CurrentPassword" type="password" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>New Password</label>
        <input name="NewPassword" type="password" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Confirm New Password</label>
        <input name="ConfirmNewPassword" type="password" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
