@* 
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>

<div class="text-danger" asp-validation-summary="All"></div>

<form method="post">
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control" />
    </div>
    <br />
    <div class="form-group">
        <label>Password</label>
        <input name="password" type="password" class="form-control" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Sign In</button>
    <br />
    <div class="text-container">
        <text>Need an account?</text> <a asp-controller="User" asp-action="Create">Click to create account</a>
    </div>
</form> *@


@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        font-family: 'Arial', sans-serif;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .form-group label {
        font-size: 1rem;
        margin-bottom: 5px;
    }

    input.form-control {
        border-radius: 8px;
        font-size: 1rem;
        padding: 10px;
    }

    button.btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 8px;
    }

        button.btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .text-container {
        font-size: 0.9rem;
        margin-top: 10px;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Login</h1>

            <div class="text-danger" asp-validation-summary="All"></div>

            <form method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input name="email" class="form-control" />
                </div>
                </br>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control" />
                </div>
                </br>
                <button class="btn btn-primary" type="submit">Sign In</button>

                <div class="text-container">
                    <text>Need an account?</text> <a asp-controller="User" asp-action="Create">Click to create account</a>
                </div>
            </form>
        </div>
    </div>
</div>

